[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.13"
graphene-django = "==2.2.0"
django-filter = "==2.0.0"
django-graphql-jwt = "==0.1.5"

[dev-packages]

[requires]
python_version = "3.7"
